* {
    font-family: "Sedan", serif;
    font-weight: 400;
    font-style: normal;
}

:root {
    --h2-bg-color: darkgray;
}

header{
    margin: auto;
    display: block;
}

h1{
    text-align: center;
    padding-top: 1em;
    position: static;
}

#week{
    text-align: center;
    color: darkred;
    background-color: lightgray;
}

h2 {
    color: #0000FF;
    background-color: var(--h2-bg-color);}

h3 {
    color: hsl(21, 53%, 49%);
    text-align: center;
}

p{
    color: color-mix(rgb, #ff0000, #0000ff);
}

li{
    color: color(from #0000FF xyz calc(x + 0.75) y calc(z - 0.35));
}

nav{
    background-color: white;
    padding: 8px;
    position: sticky;
    top: 0px;
}

/* Style navigation links */
nav ul{
    display: flex;
    flex-direction: row; /* Arrange items horizontally */
    justify-content: space-evenly;
    align-items: center;
    gap: 100px;
    list-style: none;
    font-size: 20px;
}

nav ul li a{
    text-decoration: none;
    color: blue;
    padding: 10px;
}

nav ul li a:hover{
    color: rgb(0, 0, 0);
    border-style: double;
    border-radius: 5px;
    border-color: #ab538d;
    border-width: 4pt;
    background-color: rgb(209, 213, 211);
 
}

nav ul li a:active{
    box-shadow: 3px 3px 5px #ab538d;
    color: red;
}

section h2 {
    text-align: center;
    padding: 20pt 20pt 20pt 20pt;
    margin-left: 25pc;
    margin-right: 25pc;
    margin-top: 1pc;
    margin-bottom: 2pc;
    border-radius: 3rem;
}

section {
    text-align: left;
    height: auto;
    width: 100vw; /* Set width to full viewport width */
}
  
section div, section img {
    display: inline-block;
    vertical-align: top;
    margin: 0vw 0vw 0vw 12vw;
    padding-right: 10px;
    padding-bottom: 50px;
    padding-left: 0px;
    padding-top: 0px;
}
  
section div {
    width: 40%;
}
  
section img {
    width: 18%;
    max-height: 300px;
    max-width: 400px;
}

.notes{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    column-gap: 30px;
}

@media screen and (max-width: 950px) {
    /* Adjustments for smaller screens */
    nav ul {
      flex-direction: column;
      gap: 20px;
    }
    
    nav ul li {
      text-align: center;
    }
  
    section{
        height: auto;
    }
    
    section h2{
        margin-left: 100px;
        margin-right: 100px;
        padding: 10pt 10pt 10pt 10pt;
    }

    section div, section img {
      display: block;
      margin: 0 auto;
      padding-right: 0px;
      width: 25%;
    }
}

span[class] {
    color: red;
}

details > p {
    color: rgb(23, 22, 22);
    font-weight: 1000;
}

nav + hr{
    margin-bottom: 30px;
}

summary ~ p{
    font-style: oblique;
}

b.important, b.super-important {
    color: goldenrod;
}

p:has(+ ul){
    font-weight: bolder;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    & > b{
        color: tomato;
    }
}

video{
    width: 25%;
    height: auto;
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

audio{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
}

footer{
    text-align: center;
    padding-top: 20px;
}

form{
    margin: 0 auto;
    width: fit-content;
}